*{
    margin: 0px;
    padding: 0px;
}
.header {
    background-image: url(images/Hero-bg.png);
    height: 500px;
}

.header-top .button {
    background: #4E47FF;
    width: 80px;
    height: 20px;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    padding: 50px;
}

.header-section {
    text-align: center;
    margin: 80px;
    font-size: 25px;
}

.header-section-button {
    margin-top: 10px;
    background-color: #4E47FF;
    padding: 10px;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 15px;
    width: fit-content;
    margin: 10px auto;
    cursor: pointer;
}

/* section-area-start */

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #FFFFFF;
}

.text-content {
  max-width: 50%;
  font-family: sans-serif;
}

.image-content img {
  width: 400px;
  border-radius: 25px;
  margin-top: 60px;
}

.text-content h2 {
    font-size: 32px;
    color: #252432;
}

.text-content p {
    color: #252432;
    font-size: 20px;
    font-family: regular;
    margin: 5px auto;
}

.text-content .sec-btn {
    margin-top: 10px;
    background-color: #4E47FF;
    padding: 15px;
    color: #FFFFFF;
    font-family: regular;
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}

/* section-area-end */

/* user-section-area-start */

.user-section {
    text-align: center;
    background-color: #e9edff;
    padding: 30px;
    height: 200px;
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    border-radius: 15px;
}
.user-head {
    background-color: #e9edff;
      text-align: center;
      padding: 50px 20px;
      border-radius: 10px;
      max-width: 800px;
      margin: auto;
      display: flex;
}


.user-section {
    font-size: 24px;
      margin-bottom: 30px;
      color: #1f1f1f;
}

.user {
    flex: 1 1 150px;
   
}

.user h3 {
      font-size: 32px;
      color: #5a5aff;
      margin: 0;
    }

.user p {
      font-size: 14px;
      color: #555;
      margin-top: 5px;
    }

    /* user-section-area-end */

.customer img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    padding: 20px;
    max-width: 300px;
    text-align: left;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.star p {
  font-size: 14px;
  color: #555;
}

.customer {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.user-containter {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cus-comment-section h2 {
    text-align: center;
    color: #252432;
    font-size: 40px;
    margin: 25px auto;
    padding: 20px;
}
.star i {
    color: #FFB805;
}